.App {
  margin: 0px auto;
  height: 100vh;
  /* padding: 20px; */
  text-align: center;
  overflow: hidden;
  background-color: #212021;
}

.Container {
  width: 100%;
  height: 100%;
  background-color: #212021;
  display: flex;
}

.IframeContent {
  width: 50%;
  height: 100%;
  background-color: #2f2f2f;
}
.DurationAndTime {
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.saveButton{
  font-size: 40px;
  margin: 20px auto;
  width: auto;
  right: 50%;
  float: left;
  height: 60px;
  background: rgb(47, 47, 47);
  border: 1px solid white;
  color: white;
  cursor: pointer;

}

.addButton{
  font-size: 40px;
  margin: 20px auto;
  width: 60px;
  right: 50px;
  float: right;
  background: rgb(47, 47, 47);
  border: 1px solid white;
  color: white;
  height: 60px;
  cursor: pointer;
}
.addButton:hover, .saveButton:hover{
  background-color: black;
}

button{
  cursor: pointer;
}

.IframeCopied {
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  -moz-animation-name: animate;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: 1;
  -o-animation-name: animate;
  -o-animation-duration: 3s;
  -o-animation-iteration-count: 1;  
  -webkit-animation-name: animate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
}


@keyframes animate {
  from {
    background: transparent
  }
  50% {
    background: #007BFF;
  }
  100% {
    background: transparent;
  }
}

@-webkit-keyframes animate {
  from {
    background: transparent;
  }
  50% {
    background: #007BFF;
  }
  100% {
    background: transparent;
  }
}
@-o-keyframes animate {
  from {
    background: transparent;
  }
  50% {
    background: #007BFF;
  }
  100% {
    background: transparent;
  }
}
